@font-face {
  font-family: D2Coding;
  src: url("/D2Coding-Ver1.3.2-20180524.ttc");
}

@font-face {
  font-family: NanumGothicCoding;
  font-weight: normal;
  src: url("/NanumGothicCoding.ttf");
}

@font-face {
  font-family: NanumGothicCoding;
  font-weight: bold;
  src: url("/NanumGothicCoding-Bold.ttf");
}

@font-face {
  font-family: Monoplex;
  font-weight: bold;
  src: url("/MonoplexKR-Regular.ttf");
}
